@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 100% 94%;
    --foreground: 224 71% 4%;

    --card: 210 40% 98%;
    --card-foreground: 224 71% 4%;

    --popover: 210 40% 98%;
    --popover-foreground: 224 71% 4%;

    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 211 100% 73%;
    --secondary-foreground: 224 71% 4%;

    --muted: 220 14% 90%;
    --muted-foreground: 220 9% 40%;

    --accent: 158 48% 80%;
    --accent-foreground: 158 30% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 85%;
    --input: 220 13% 92%;
    --ring: 217 91% 60%;

    --radius: 0.5rem;

    --chart-1: 217 91% 60%;
    --chart-2: 158 48% 60%;
    --chart-3: 24 93% 59%;
    --chart-4: 0 84% 60%;
    --chart-5: 280 65% 60%;
    
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 206 100% 94%;
    --sidebar-accent-foreground: 217 91% 60%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;

    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 224 71% 4%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 210 40% 98%;

    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
